body
{
    background-color: black;
    color:rgb(36, 35, 35);
    text-align: center;
    font-family:'Franklin Gothic Medium';
    font-size: 14px;
    margin: 0;
    padding: 0;


}

#cabecera
{
    background: rgb(248, 9, 29);
    box-shadow: 0px 2px 10px 0px rgba(248, 11, 11, 0.75);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #logo
{
    width: 20px;
    vertical-align: middle;
}

#cabecera #tagline
{   
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;

}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 2px solid rgba(247, 15, 15, 0.75);
    margin: 0 auto;
}

#container h1  
{
    font-size: 20px;
} 

#post
{
    background-color: aliceblue;
    padding: 1em;
}

#footer
{
    background: #777;
    color: white;
    text-align: center;
    padding: 0.5em;
}